@import 'colores';

/* Defino caracteristicas del footer */
.social-footer {
  margin-top: 10vh;
  padding: 1rem;
  background: nth($colores, 3);

  .social-footer-icons {
    li {
		display: inline;
    }

    .fa {
      font-size: 1.5rem;
      color: nth($colores, 1);

      &:hover {
        color: darken(nth($colores, 3), 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}